[submodule "Vendor/iOS-BlingLord"]
	path = Vendor/iOS-BlingLord
	url = git://github.com/brynbellomy/iOS-BlingLord.git
[submodule "Vendor/iOS-StatefulNotifications"]
	path = Vendor/iOS-StatefulNotifications
	url = git://github.com/brynbellomy/iOS-StatefulNotifications.git
[submodule "Vendor/Kiwi"]
	path = Vendor/Kiwi
	url = git://github.com/allending/Kiwi.git
[submodule "Vendor/Bryn.h"]
	path = Vendor/Bryn.h
	url = git://github.com/brynbellomy/Bryn.h-iOS.git
